# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [164]:
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [165]:
start = pd.to_datetime("01-01-2015",format="%d-%m-%Y")
end = pd.to_datetime("04-12-2024",format="%d-%m-%Y")
print(start,end)

2015-01-01 00:00:00 2024-12-04 00:00:00

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [166]:
api = "M36OH4O5RFHXHP3Z"
df_apple = pdr.DataReader("AAPL", "av-daily", start=start,end=end,api_key=api)
df_apple

RemoteDataError:  Their was an issue from the data vendor side, here is their response: {'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [ ]:
df_apple["stock"] = ["AAPL" for i in range(len(df_apple))]
df_apple

               open    high       low   close    volume stock
2015-01-02  111.390  111.44  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.65  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.43  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.20  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.15  108.7000  111.89  59364547  AAPL
...             ...     ...       ...     ...       ...   ...
2024-11-27  234.465  235.69  233.8101  234.93  33498439  AAPL
2024-11-29  234.810  237.81  233.9700  237.33  28481377  AAPL
2024-12-02  237.270  240.79  237.1600  239.59  48137103  AAPL
2024-12-03  239.810  242.76  238.9000  242.65  38861017  AAPL
2024-12-04  242.870  244.11  241.2500  243.01  44383935  AAPL

[2498 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [ ]:
df_tesla = pdr.DataReader("TSLA", "av-daily", start=start,end=end,api_key=api)
df_tesla["stock"] = ["TSLA" for i in range(len(df_tesla))]
df_ibm = pdr.DataReader("IBM", "av-daily", start=start,end=end,api_key=api)
df_ibm["stock"] = ["IBM" for i in range(len(df_ibm))]
df_microsoft = pdr.DataReader("MSFT", "av-daily", start=start,end=end,api_key=api)
df_microsoft["stock"] = ["MSFT" for i in range(len(df_microsoft))]

RemoteDataError:  Their was an issue from the data vendor side, here is their response: {'Information': 'Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [193]:
df = pd.concat([df_apple,df_tesla,df_ibm,df_microsoft], axis=0)
df

               open      high      low   close    volume stock
2015-01-02  111.390  111.4400  107.350  109.33  53204626  AAPL
2015-01-05  108.290  108.6500  105.410  106.25  64285491  AAPL
2015-01-06  106.540  107.4300  104.630  106.26  65797116  AAPL
2015-01-07  107.200  108.2000  106.695  107.75  40105934  AAPL
2015-01-08  109.230  112.1500  108.700  111.89  59364547  AAPL
...             ...       ...      ...     ...       ...   ...
2024-11-27  425.105  427.2299  422.020  422.99  18332444  MSFT
2024-11-29  420.090  424.8800  417.800  423.46  16271921  MSFT
2024-12-02  421.570  433.0000  421.310  430.98  20207223  MSFT
2024-12-03  429.840  432.4700  427.740  431.20  18301987  MSFT
2024-12-04  433.030  439.6700  432.630  437.42  26009429  MSFT

[9992 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [194]:
df.set_index("stock", append=True,inplace=True)
df

                     open      high      low   close    volume
           stock
2015-01-02 AAPL   111.390  111.4400  107.350  109.33  53204626
2015-01-05 AAPL   108.290  108.6500  105.410  106.25  64285491
2015-01-06 AAPL   106.540  107.4300  104.630  106.26  65797116
2015-01-07 AAPL   107.200  108.2000  106.695  107.75  40105934
2015-01-08 AAPL   109.230  112.1500  108.700  111.89  59364547
...                   ...       ...      ...     ...       ...
2024-11-27 MSFT   425.105  427.2299  422.020  422.99  18332444
2024-11-29 MSFT   420.090  424.8800  417.800  423.46  16271921
2024-12-02 MSFT   421.570  433.0000  421.310  430.98  20207223
2024-12-03 MSFT   429.840  432.4700  427.740  431.20  18301987
2024-12-04 MSFT   433.030  439.6700  432.630  437.42  26009429

[9992 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [195]:
vol = df.volume
vol

            stock
2015-01-02  AAPL     53204626
2015-01-05  AAPL     64285491
2015-01-06  AAPL     65797116
2015-01-07  AAPL     40105934
2015-01-08  AAPL     59364547
                       ...
2024-11-27  MSFT     18332444
2024-11-29  MSFT     16271921
2024-12-02  MSFT     20207223
2024-12-03  MSFT     18301987
2024-12-04  MSFT     26009429
Name: volume, Length: 9992, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [196]:
vol = vol.groupby(level=[0,1]).agg("max").unstack()
vol.set_index(pd.to_datetime(vol.index),inplace=True)
vol.resample('W-MON').min()

stock           AAPL      IBM      MSFT       TSLA
2015-01-05  53204626  4880389  27913852    4764443
2015-01-12  40105934  4187588  23651887    2968390
2015-01-19  48956588  4251698  29719580    3603158
2015-01-26  46464828  4834447  26211594    3234522
2015-02-02  62739100  4495633  50352532    2781024
...              ...      ...       ...        ...
2024-11-11  28111338  2441535  16891414   69282505
2024-11-18  40398299  2818216  19401204  114440286
2024-11-25  35169566  2860746  18133529   58011719
2024-12-02  28481377  2640253  16271921   37167621
2024-12-09  38861017  3163815  18301987   50810874

[519 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [202]:
vol.resample('YE').sum().iloc[0,:]

stock
AAPL    13064316775
IBM      1105545521
MSFT     9057582311
TSLA     1086708380
Name: 2015-12-31 00:00:00, dtype: int64